html,body {
    background-color: #f8f9fa;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card {
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #6f42c1;
    border: none;
}

.btn-primary:hover {
    background-color: #5a3791;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.modal-dialog {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.container {
    flex: 1; /* يخلي المحتوى يتمدد ويجبر الفوتر يكون في الأسفل */
}

footer {
    margin-top: auto;
}